<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" 
		default-lazy-init="true" default-autowire="no">
		
		<!-- <aop:config proxy-target-class="true"/>
		<bean id="myService" parent="txAttribute">
			<property name="target">
				<bean class="com.global.service.impl.MyServiceImpl">
					<property name="myServiceDao" ref="myServiceDao" />
				</bean>
			</property>
		</bean>
		<bean id="myServiceDao" class="com.global.dao.impl.MyServiceDaoImpl">
			<property name="hibernateDao" ref="hibernateDao" />
		</bean> -->
		
</beans>